p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

img {
    width: 100%;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 500 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-mode {
    margin-right: 10px;
    font-size: 2.5rem;
    color: white;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
}

.profile-card {
    position: relative;
    overflow: hidden;
}

.profile-image {
    position: relative;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.profile-image img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

.profile-image:hover .overlay {
    height: 100%;
    opacity: 1;
}

.overlay h2 {
    color: white;
}

.about-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.about-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.dark-mode {
    background-color: #18191A;
    color: #E4E6EB;
}

.dark-mode .nav-bar {
    background-color: #242526;
}

.dark-mode .footer {
    background-color: #242526;
    color: #E4E6EB;
}

.dark-mode .toggle-mode img {
    filter: invert(1);
}

.dark-blue {
    color: #1C539F;
}

.card-container-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card-hobbies {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px; 
    margin: 20px;
    width: 300px;
    overflow: hidden; 
}

.info {
    padding: 20px;
}

.hobby-img {
    width: 100%; 
    height: 200px;
    object-fit: cover;
}

.title {
    font-size: 1.5em; 
    margin: 10px 0; 
}

.description {
    font-size: 1em; 
}

#map {
    height: 500px; 
}