<nav class="navbar nav-bar navbar-expand-lg navbar-dark">
    <div class="navbar-brand">
        <div class="nav-logo">
            <a href="/">
                <img src="./static/img/logo.svg" />
            </a>
        </div>
    </div>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="font-size:30px">
            <li class="nav-item">
                <a class="nav-link" href="#edu">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exp">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hob">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#loc">Locations</a>
            </li>
        </ul>
    </div>
</nav>
