{% extends 'base.html' %} {% block header %} {% include 'main-header.html' %} {%
endblock%} {% block body %}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Featured Fellow</div>
                <div class="card-img-top profile-image">
                    <img src="./static/img/shengyuan.jpg" />
                </div>
                <div class="card-body">
                    <h3 class="card-title">Shengyuan Lu</h3>
                    <p class="card-text">
                        I am an engineer by training, a software
                        developer by profession, and a creative artist by heart.
                        If what I want doesn’t exist, I build it from scratch.
                        From the chemistry board game I designed in high school
                        to my newest iOS app ZotMeal, I am obsessed with turning
                        ideas into reality.
                    </p>
                    <a href="/shengyuan" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}
