{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col profile-card">
                <div class="profile-image">
                    <img src="./static/img/shengyuan.png" />
                    <div class="overlay">
                        <h2>Shengyuan</h2>
                        <a class="about-btn" href="/">About me</a>
                    </div>
                </div>
            </div>
            <div class="col profile-card">
                <div class="profile-image">
                    <img src="../static/img/Rami Headshot.jpg"/>
                    <div class="overlay">
                        <h2>Rami</h2>
                        <a class="about-btn" href="/">About me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}