<header class="nav-bar">
    <nav class="navbar nav-bar navbar-expand-lg navbar-dark">
        <div class="container">
            <div class="navbar-brand">
                <div class="nav-logo">
                    <a href="/">
                        <img src="./static/img/logo.svg" />
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="font-size: 30px">
                    <li class="nav-item">
                        <a class="nav-link" href="/timeline">Timeline</a>
                    </li>
                </ul>
            </div>
            <div class="toggle-mode" style="cursor: pointer;">
                <i id="mode-icon" class="fas fa-moon"></i>
            </div>
        </div>
    </div>
</header>